In [1]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests
import urllib.request
import urllib.parse
import time
from datetime import datetime

In [2]:
last_3_years = (datetime.today().year, datetime.today().year-1, datetime.today().year-2)
last_3_years

(2024, 2023, 2022)

# Finance Data
Collected the fiancial data for 3 companies (Tesla, Apple and Microsoft) for last 3 years 2023,2022 and 2021.

In [3]:
df = pd.read_excel("Companies_3year_data.xlsx", index_col="Company")
df = df.sort_values(by=['Company', 'Year'], ascending=True)
df

,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities
Company,,,,,,
Apple,2021,365817,94680,351002,287912,104038
Apple,2022,394328,99803,352755,302083,122151
Apple,2023,383285,96995,352583,290437,110543
Microsoft,2021,168088,61271,333779,191791,76740
Microsoft,2022,198270,72738,364840,198298,89035
Microsoft,2023,211915,72361,411976,205753,87582
Tesla,2021,53823,5644,62131,30548,11497
Tesla,2022,81462,12587,82338,36440,14724
Tesla,2023,96773,14974,106618,43009,13256

In [8]:
"Total Revenue of Apple: {}".format(df[(df.Year == 2023)].loc["Apple", "Net Income"])

'Total Revenue of Apple: 96995'

# Initial Observations

Apple is bigger company of the 3 w.r.t Revenue, Income and cash with Tesla being the smallest among the 3.

However, Microsoft has better assets and cash w.r.t to size of the companies.

In [5]:
df['Revenue Growth (%)'] = df.groupby(['Company'])['Total Revenue'].pct_change() * 100
df['Net Income Growth (%)'] = df.groupby(['Company'])['Net Income'].pct_change() * 100
df.fillna(0, inplace=True)
df

,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%)
Company,,,,,,,,
Apple,2021,365817,94680,351002,287912,104038,0.000000,0.000000
Apple,2022,394328,99803,352755,302083,122151,7.793788,5.410858
Apple,2023,383285,96995,352583,290437,110543,-2.800461,-2.813543
Microsoft,2021,168088,61271,333779,191791,76740,0.000000,0.000000
Microsoft,2022,198270,72738,364840,198298,89035,17.956071,18.715216
Microsoft,2023,211915,72361,411976,205753,87582,6.882030,-0.518299
Tesla,2021,53823,5644,62131,30548,11497,0.000000,0.000000
Tesla,2022,81462,12587,82338,36440,14724,51.351653,123.015592
Tesla,2023,96773,14974,106618,43009,13256,18.795267,18.964010

# Revenue & Income Growth
Tesla has the most growth among the 3 companies.

All the 3 companies had their best growth in 2022 and slow down in 2023 which also reflects in cashflow.

In [6]:
df['Profit Margin'] = df['Net Income']/df['Total Revenue']*100
df['Profit Margin Growth (%)'] = df.groupby(['Company'])['Profit Margin'].pct_change() * 100
df

,Year,Total Revenue,Net Income,Total Assets,Total Liabilities,Cash Flow from Operating Activities,Revenue Growth (%),Net Income Growth (%),Profit Margin,Profit Margin Growth (%)
Company,,,,,,,,,,
Apple,2021,365817,94680,351002,287912,104038,0.000000,0.000000,25.881793,NaN
Apple,2022,394328,99803,352755,302083,122151,7.793788,5.410858,25.309641,-2.210638
Apple,2023,383285,96995,352583,290437,110543,-2.800461,-2.813543,25.306234,-0.013459
Microsoft,2021,168088,61271,333779,191791,76740,0.000000,0.000000,36.451740,NaN
Microsoft,2022,198270,72738,364840,198298,89035,17.956071,18.715216,36.686337,0.643583
Microsoft,2023,211915,72361,411976,205753,87582,6.882030,-0.518299,34.146238,-6.923828
Tesla,2021,53823,5644,62131,30548,11497,0.000000,0.000000,10.486223,NaN
Tesla,2022,81462,12587,82338,36440,14724,51.351653,123.015592,15.451376,47.349294
Tesla,2023,96773,14974,106618,43009,13256,18.795267,18.964010,15.473324,0.142046

# Profit Margin

Microsoft has the best profit margin, Apple with healthy margin and Tesla with lowest margins in mid teens.

However, Tesla has significant growth in its margins with Apple maintaining it's margins over the 2 years. But, micorsoft has slight reduction in profit margin.